[package]
name = "sspi"
version = "0.10.1"
edition = "2021"
readme = "README.md"
license = "MIT/Apache-2.0"
homepage = "https://github.com/devolutions/sspi-rs"
repository = "https://github.com/devolutions/sspi-rs"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
description = "A Rust implementation of the Security Support Provider Interface (SSPI) API"
keywords = ["ntlm", "auth", "sspi", "windows", "kerberos"]

[[example]]
name = "kerberos"
required-features = ["network_client"]

[workspace]
members = [
  "ffi",
  "ffi/symbol-rename-macro",
]
exclude = [
  "tools/sspi-ffi-attacker",
  "tools/wasm-testcompile",
]

[features]
default = []
network_client = ["dep:reqwest", "dep:portpicker"]
dns_resolver = ["dep:trust-dns-resolver", "dep:tokio", "tokio/rt-multi-thread"]
# TSSSP should be used only on Windows as a native CREDSSP replacement
tsssp = ["dep:rustls"]
# Turns on Kerberos smart card login (available only on Windows and users WinSCard API)
scard = ["dep:pcsc"]

[dependencies]
byteorder = "1.4"
bitflags = "2.4"
rand = "0.8"
cfg-if = "1"
time = { version = "0.3", default-features = false, features = ["std"] }
md-5 = "0.10"
md4 = "0.10"
sha2 = "0.10"
sha1 = "0.10"
hmac = "0.12"
crypto-mac = "0.11"
num-derive = "0.4"
num-traits = "0.2"
lazy_static = "1.4"
serde = "1"
serde_derive = "1"
url = "2.4"
reqwest = { version = "0.11", features = ["blocking", "rustls-tls", "rustls-tls-native-roots"], optional = true, default-features = false }

picky = { version = "7.0.0-rc.8", default-features = false }
picky-krb = "0.8"
picky-asn1 = { version = "0.8", features = ["time_conversion"] }
picky-asn1-der = "0.4"
picky-asn1-x509 = { version = "0.12", features = ["pkcs7"] }

oid = "0.2"
uuid = { version = "1.4", features = ["v4"] }
trust-dns-resolver = { version = "0.23", optional = true }
portpicker = { version = "0.1", optional = true }
num-bigint-dig = "0.8"
tracing = "0.1"
rustls = { version = "0.21", features = ["dangerous_configuration"], optional = true }
zeroize = { version = "1.6", features = ["zeroize_derive"] }
tokio = { version = "1.32", features = ["time", "rt"], optional = true }
pcsc = { version = "2.8", optional = true }
async-recursion = "1.0.5"

[target.'cfg(windows)'.dependencies]
winreg = "0.51"
# FIXME(#174): replace `winapi` crate by `windows` / `windows-sys` crates
winapi = { version = "0.3", features = ["std", "sspi", "rpcdce", "impl-default", "timezoneapi", "wincrypt"] }
windows = { version = "0.51", features = [ "Win32_Foundation", "Win32_NetworkManagement_Dns"] }
windows-sys = { version = "0.48", features = ["Win32_Security_Cryptography", "Win32_Foundation"] }

[target.'cfg(any(target_os = "macos", target_os = "ios"))'.dependencies]
async-dnssd = "0.5"
futures = "0.3"
tokio = { version = "1.32", features = ["time", "rt", "rt-multi-thread"] }

[dev-dependencies]
base64 = "0.21"
static_assertions = "1"
whoami = "1.4"
picky = { version = "7.0.0-rc.8", features = ["x509"] }
tracing-subscriber = "0.3"
proptest = "1.3.1"
