[package]
name = "sspi"
version = "0.3.6"
license = "MIT/Apache-2.0"
homepage = "https://github.com/devolutions/sspi-rs"
repository = "https://github.com/devolutions/sspi-rs"
keywords = ["ntlm", "auth", "sspi", "windows", "kerberos"]
authors = ["Vlad Aleksashyn <vlad.al.dp@gmail.com>"]
description = "A Rust implementation of the Security Support Provider Interface (SSPI) API"
edition = "2021"

[workspace]
members = [
  "c-api",
  "c-api/symbol-rename-macro",
]

[features]
network_client = ["reqwest", "trust-dns-resolver", "portpicker"]

[dependencies]
byteorder = "1.2.7"
bitflags = "1.0"
rand = "0.6"
cfg-if = "0.1"
chrono = "0.4"
md-5 = "0.9"
md4 = "0.9"
sha2 = "0.9"
hmac = "0.11"
crypto-mac = "0.11"
num-derive = "0.2"
num-traits = "0.2"
lazy_static = "1.2"
serde = "1.0"
serde_derive = "1.0"
winapi = { version = "0.3", features = ["sspi", "rpcdce", "impl-default", "timezoneapi", "wincrypt"] }
url = "2.2.2"
reqwest = { version = "0.11", features = ["blocking", "rustls-tls", "rustls-tls-native-roots"], optional = true, default-features = false }
picky-krb = { git = "https://github.com/Devolutions/picky-rs.git", rev = "79e8186c798876c77e67cdcdb02a1c6f58030c6e" }
picky-asn1 = { git = "https://github.com/Devolutions/picky-rs.git", rev = "79e8186c798876c77e67cdcdb02a1c6f58030c6e" , features = ["chrono_conversion"] }
picky-asn1-der = { git = "https://github.com/Devolutions/picky-rs.git", rev = "79e8186c798876c77e67cdcdb02a1c6f58030c6e" }
picky-asn1-x509 = "0.7.0"
kerberos_crypto = "0.3.6"
kerberos_constants = "0.0.9"
oid = "0.2.1"
sys-info = "0.9"
trust-dns-resolver = { version = "0.21.2", optional = true }
portpicker = { version = "0.1.1", optional = true }

[dev-dependencies]
whoami = "0.5"
