[package]
name = "sspi"
version = "0.3.2"
license = "MIT/Apache-2.0"
homepage = "https://github.com/devolutions/sspi-rs"
repository = "https://github.com/devolutions/sspi-rs"
keywords = ["ntlm", "auth", "sspi", "windows", "kerberos"]
authors = ["Vlad Aleksashyn <vlad.al.dp@gmail.com>"]
description = "A Rust implementation of the Security Support Provider Interface (SSPI) API"
edition = "2018"

[features]
with_network_client = ["reqwest"]

[dependencies]
byteorder = "1.2.7"
bitflags = "1.0"
rand = "0.6"
cfg-if = "0.1"
chrono = "0.4"
md-5 = "0.9"
md4 = "0.9"
sha2 = "0.9"
hmac = "0.11"
crypto-mac = "0.11"
num-derive = "0.2"
num-traits = "0.2"
lazy_static = "1.2"
serde = "1.0"
serde_derive = "1.0"
winapi = { version = "0.3", features = ["sspi", "rpcdce", "impl-default", "timezoneapi", "wincrypt"] }
url = "2.2.2"
reqwest = { version = "0.11", features = ["blocking"], optional = true }
picky-krb = { path = "../devolutions-jet/crates/picky-krb", version = "0.0.0" }
picky-asn1 = { version = "0.5.0", features = ["chrono_conversion"] }
picky-asn1-der = { path = "../picky-rs/picky-asn1-der", version = "0.3.0" }
kerberos_crypto = { path = "../../deleteIt/kerbeiros/kerberos_crypto", version = "0.3.6" }
kerberos_constants = "0.0.9"
thiserror = "1.0"
oid = "0.2.1"

[dev-dependencies]
whoami = "0.5"
