[package]
name = "dpapi"
version = "0.1.0"
edition = "2021"
readme = "README.md"
license = "MIT/Apache-2.0"
homepage = "https://github.com/devolutions/sspi-rs"
repository = "https://github.com/devolutions/sspi-rs"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
description = "A Rust implementation of Windows DPAPI"

[lib]
name = "dpapi"

[dependencies]
bitflags.workspace = true
byteorder.workspace = true
num-derive.workspace = true
num-traits = { workspace = true, default-features = true }
uuid = { workspace = true, features = ["std"] }
picky-asn1.workspace = true
picky-asn1-der.workspace = true
picky-asn1-x509 = { workspace = true, features = ["pkcs7"] }
num-bigint-dig.workspace = true
sha1.workspace = true
sha2.workspace = true
rand.workspace = true

rust-kbkdf = { version = "1.1.0", git = "https://gitlab.com/TheBestTvarynka/rust-kbkdf.git", branch = "fix-key-generation" }
elliptic-curve = { version = "0.13.8", features = ["sec1", "std"] }
p521 = { version = "0.13.3", features = ["ecdh"] }
p256 = { version = "0.13.2", features = ["ecdh"] }
p384 = { version = "0.13.0", features = ["ecdh"] }
concat-kdf = { version = "0.1.0", features = ["std"] }
typenum = "1.17.0"
hmac = "0.12.1"
aes-kw = { version = "0.2.1", features = ["std"] }
aes-gcm = { version = "0.10.3", features = ["std"] }

thiserror = "2.0"
regex = "1.11"

[dev-dependencies]
paste = "1.0"
