[package]
name = "dpapi"
version = "0.2.0"
edition = "2021"
readme = "README.md"
license = "MIT/Apache-2.0"
homepage = "https://github.com/devolutions/sspi-rs"
repository = "https://github.com/devolutions/sspi-rs"
authors = ["Devolutions Inc. <infos@devolutions.net>"]
description = "A Rust implementation of Windows DPAPI"
publish = false # not ready yet

[lib]
name = "dpapi"

[features]
tsssp = ["sspi/tsssp"]

[dependencies]
bitflags.workspace = true
byteorder.workspace = true
num-derive.workspace = true
num-traits = { workspace = true, default-features = true }
uuid = { workspace = true, features = ["std"] }
picky-asn1.workspace = true
picky-asn1-der.workspace = true
picky-krb = "0.11"
picky-asn1-x509 = { workspace = true, features = ["pkcs7"] }
num-bigint-dig.workspace = true
sha1.workspace = true
sha2.workspace = true
rand.workspace = true
hmac.workspace = true
tracing = { workspace = true, default-features = true }
whoami.workspace = true

dpapi-core = { workspace = true, features = ["alloc"] }
dpapi-pdu.workspace = true
dpapi-transport.workspace = true
sspi = { path = "../..", version = "0.16" } # public

kbkdf = "0.0.1"
sha1-pre = { version = "0.11.0-pre.2", package = "sha1" }
sha2-pre = { version = "0.11.0-pre.2", package = "sha2" }
hmac-pre = { version = "0.13.0-pre.4", package = "hmac" }
digest-pre = { version = "0.11.0-pre.9", package = "digest", default-features = false }

elliptic-curve = { version = "0.13", features = ["sec1", "std"] }
p521 = { version = "0.13", features = ["ecdh"] }
p256 = { version = "0.13", features = ["ecdh"] }
p384 = { version = "0.13", features = ["ecdh"] }
concat-kdf = { version = "0.1", features = ["std"] }
typenum = "1.18"
aes-kw = { version = "0.2", features = ["std"] }
aes-gcm = { version = "0.10", features = ["std"] }
url = "2.5"

thiserror = "2.0"
regex = "1.11"

[dev-dependencies]
paste = "1.0"
